@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.heroArea {
  background: url("../src/assets/heroBannerMortgage.png");
  background-size: cover;
  background-position: center;
}
.heroAreaOverlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.radialColorText {
  background: radial-gradient(circle, #caaf68 20%, #926228 60%, #8b5e2b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text itself transparent so the background gradient shows */
}

.radialColorBg {
  background: radial-gradient(circle, #caaf68 20%, #926228 60%, #8b5e2b 100%);
}